.container {
    display: block;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
    margin-top: 150px;
  }
  
  .vertical-center1 {
    margin: 0;
  }

  .boldtxt{font-weight: 600;}
  .headline {
    font-size: 48px;
    font-weight: 700;
    color: #3f6aa8;
    margin-bottom: 40px;
}

.message {
    font-size: 46px;
    font-weight: 400;
    color: #3f6aa8;
    margin-bottom: 30px;
}

.sub-message {
    font-size: 44px;
    font-weight: 400;
    color: #3f6aa8;
}
  